body {
    font-family: Roboto;
    font-style: normal;
    margin: 0;
    color: #505050;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
}

.page-title {
    margin: 25px auto 0;
    font-weight: bold;
    text-align: center;
    max-width: 625px;
    font-size: 64px;
    line-height: 75px;
    background: -webkit-linear-gradient(45deg, #00C2FF 30%, #FF007A 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls {
    margin: 25px auto 0;
    max-width: 500px;
    min-height: 220px;
    border: 2px solid #ededed;
}

.controls__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 15px;
}

.gestures {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px 0;
}

.gestures__image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gestures__image-container_selected {
    box-shadow: 0px 0px 20px 3px #00C2FF;
}

.gestures__image-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #00C2FF;
    transition-property: box-shadow;
    transition-duration: 200ms;
}
    
.gestures__image-container:active {
    background: radial-gradient(50% 2570.31% at 50% 50.94%, #00C2FF 0%, rgba(196, 196, 196, 0) 100%);
    border: 2px solid #000000;
    box-sizing: border-box;
}

.gestures__image-container_unselectable:hover {
    cursor: auto;
    box-shadow: none;
}

.gestures__image-container_unselectable:active {
    cursor: auto;
    background: none;
}

.gestures__item {
    width: 75px;
}

@media screen and (max-width: 700px) {
    .gestures {
        flex-direction: column;
        align-items: center;
    }

    .gestures__image-container {
        margin-bottom: 25px;
    }
}

.last-game {
    margin: 25px auto;
}

.last-game_hidden {
    display: none;
}

.last-game__title {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.last-game__data {
    width: 100%;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
}

.last-game__choise {
    width: 300px;
    text-align: center;
    line-height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-game__result {
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 166px;
    background: -webkit-linear-gradient(45deg, #00C2FF 30%, #FF007A 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.last-game__subtitle {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

@media screen and (max-width: 700px) {
    .last-game__data {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .last-game__result {
        order: 1;
        line-height: 150px;
    }

    .last-game__choise_player {
        order: 2;
        margin-bottom: 25px;
    }

    .last-game__choise_computer {
        order: 3;
    }
}

.results {
    margin: 25px auto 0;
}

.results__title {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin: 0;
}

.results-data {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.results__item {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}
@media screen and (max-width: 700px) {
    .results-data {
        flex-direction: column;
        align-items: center;
    }

    .results__item {
        margin-bottom: 25px;
    }
}